<footer
	class="footer {{classes}}">
	{# footer #}
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h6 class="main-heading">Contact</h6>
				<p class="paragraph">If you want to know more about me you can contact me on my social links. For project enquires you can drop me an email at</p>
				<div class="footer__contact">
					<a class="email-link" href="mailto:hellodesign91@gmail.com">hellodesign91@gmail.com
						<i>&rarr;</i>
					</a>
				</div>
			</div>
		</div>
		{#
				        <div class="footer__social">
				            <ul>
				                <li><a target="_blank" href="https://facebook.com/gursimrandhiman"><svg xmlns="http://www.w3.org/2000/svg" viewbox="5 5 40 40" enable-background="new 5 5 40 40"><path d="M15.7 18.3h4v-5.5c0-1-.3-7.8 8.5-7.8h6.1v7H30c-.9 0-1.8.9-1.8 1.6v4.6h6.3c-.3 3.5-.8 6.8-.8 6.8H28v20h-8.2V25.1h-4v-6.8h-.1z"></path></svg></a></li>
				                <li><a target="_blank" href="https://twitter.com/Gursimran1Singh"><svg xmlns="http://www.w3.org/2000/svg" viewbox="5 5 40 40" enable-background="new 5 5 40 40"><path d="M38.5 18c0 .3 0 .7 0 .9 0 9.3-7 19.9-19.8 19.9-3.9 0-7.6-1.2-10.7-3.1.5 0 1 .1 1.7.1 3.3 0 6.3-1.2 8.7-3-3 0-5.6-2.1-6.5-4.8.4.1.9.1 1.3.1.7 0 1.3-.1 1.8-.3-3.3-.7-5.6-3.5-5.6-6.9v-.1c.9.5 2.1.8 3.1.9-1.8-1.3-3.1-3.4-3.1-5.9 0-1.3.4-2.5.9-3.5 3.4 4.2 8.6 7 14.3 7.3-.1-.5-.1-1-.1-1.6 0-3.9 3.1-7 7-7 2 0 3.8.9 5.1 2.2 1.6-.3 3.1-.9 4.4-1.7-.5 1.7-1.6 3-3.1 3.9 1.4-.1 2.7-.5 4-1-.9 1.4-2.1 2.6-3.4 3.6z"></path></svg></a></li>
				                <li><a target="_blank" href="https://www.instagram.com/gursimranjot/"><svg xmlns="http://www.w3.org/2000/svg" viewbox="5 5 40 40" enable-background="new 5 5 40 40"><path d="M37.1 9.4H12.9c-2.1 0-3.6 1.7-3.6 3.6v24c0 2.1 1.7 3.6 3.6 3.6h24c2.1 0 3.6-1.7 3.6-3.6h.1V13c.1-2.1-1.6-3.6-3.5-3.6zM24.9 19c3.3 0 6 2.7 6 6s-2.7 6-6 6-6-2.7-6-6 2.7-6 6-6zm11.9 16.9c0 .7-.5 1.2-1.2 1.2H14c-.7 0-1.2-.5-1.2-1.2V22.7h2.7c-.1.7-.3 1.6-.3 2.3 0 5.3 4.3 9.6 9.6 9.6s9.6-4.3 9.6-9.6c0-.8-.1-1.7-.5-2.3h2.7v13.2zm.1-18.1c0 .7-.5 1.2-1.2 1.2h-3.6c-.7 0-1.2-.5-1.2-1.2v-3.6c0-.7.5-1.2 1.2-1.2h3.6c.7 0 1.2.5 1.2 1.2v3.6z"></path></svg></a></li>
				                <li><a target="_blank" class="btn" href="https://www.linkedin.com/in/gursimran2/"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewbox="0 0 430.117 430.117" style="enable-background:new 0 0 430.117 430.117;" xml:space="preserve"><g><path id="LinkedIn" d="M430.117,261.543V420.56h-92.188V272.193c0-37.271-13.334-62.707-46.703-62.707   c-25.473,0-40.632,17.142-47.301,33.724c-2.432,5.928-3.058,14.179-3.058,22.477V420.56h-92.219c0,0,1.242-251.285,0-277.32h92.21   v39.309c-0.187,0.294-0.43,0.611-0.606,0.896h0.606v-0.896c12.251-18.869,34.13-45.824,83.102-45.824   C384.633,136.724,430.117,176.361,430.117,261.543z M52.183,9.558C20.635,9.558,0,30.251,0,57.463   c0,26.619,20.038,47.94,50.959,47.94h0.616c32.159,0,52.159-21.317,52.159-47.94C103.128,30.251,83.734,9.558,52.183,9.558z    M5.477,420.56h92.184v-277.32H5.477V420.56z"></path></g></svg></a></li>
				            </ul>
				        </div> #}
	</div>
</footer>
<!--    main-footer ends    -->
