<div class="technology-container">
        <h2>For Design</h2>
        <ul class="list-unstyled technology-list">
            
            <li class="technology-list__item">
                <a href="#">
                    {# <img src="{{img}}/technology/xd.svg" alt="XD"> #}
                    Adobe XD
                </a>
            </li>
            <li class="technology-list__item">
                <a href="#">
                    {# <img src="{{img}}/technology/xd.svg" alt="XD"> #}
                    Figma
                </a>
            </li>
        </ul>
</div>

<div class="technology-container">
        <h2>For Code</h2>
        <ul class="list-unstyled technology-list">
            
            <li class="technology-list__item">
                <a href="#">
                    {# <img src="{{img}}/technology/xd.svg" alt="XD"> #}
                   VS Code
                </a>
            </li>
            <li class="technology-list__item">
                <a href="#">
                    {# <img src="{{img}}/technology/xd.svg" alt="XD"> #}
                    Figma
                </a>
            </li>
        </ul>
</div>