<!-- Code for work section -->
<!-- <section class="work-section">
        <div class="container">
            <h2 class="center-header">Recent Work</h2>
            {% include '../components/our-place.twig' with {'pic' : '/sliderfull/1.jpg', 'ID' : 'ourPlace'} %}
        </div>
    </section> -->
<!-- Code for work section -->

<!-- <section class="work-section-container swiper-container-full">
        <h2 class="center-header">Recent Work</h2>
        <div class="swiper-wrapper">
            {% for i in 0..0 %}
            <section class="work-section-inner swiper-slide">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 ">
                            <div class="work-content">
                                <h4 class="work-heading">Redesign of netplus website</h4>
                                <p class="work-para">Create a new landing page for netplus to improve the user engagement of website</p>
                            </div>
                            <div class="services__btncontainer">
                                <a href="/work.html" class="button  button__border">Explore Project &rarr;</a>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <figure class="services__figure">
                                <img src="{{img}}/sliderfull/banner.jpg" alt="bannerandgraphics">
                            </figure>
                        </div>
                    </div>
                </div>
            </section>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
    </section> -->
